@charset "UTF-80";
body{
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: bisque;
    padding: 10px;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px black;
}
header>h1{
    color: chocolate;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
}
nav{
    background-color:rgb(219, 186, 159);
    box-shadow: 1px 1px 3px black;
    }
a{
    margin: 10px;
    color:rgb(12, 10, 4);
    text-decoration: none;
}
a:hover{
    color: white;
}
main{
    background-color: rgb(100, 67, 16);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  black;
}
footer>p{
    text-shadow: 1px 1px 1px lightgray;
}
footer{
    background-color: rgb(133, 114, 114);
    text-align: center;
}
