*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html{
    background-color:lightgray}
header{
    background-color: rgba(105, 105, 105, 0.608);
    
}
header>h1{
text-align: center;
}
menu{
    display: none;
}
div#burguer{
    text-align: center;
    display: block;
    background-color: rgb(17, 16, 16);
    color: white;
    padding: 8px;
}
div#burguer:hover{
    background-color: white;
    color: black;
}

li>a{
    
    text-decoration: none; 
    
    color: aliceblue;


}
li{
    
    display: block;
    padding: 10px;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.368);
    border-top: 2px solid  rgba(105, 105, 105, 0.754);
}
main{
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.786);
    border-radius: 8px;
    box-shadow: 2px 2px black;
    padding: 4px;
}
h2{
    text-align: center;
    
}
li:hover{
    background-color: rgba(211, 211, 211, 0.575);
}