*{
    margin: 0px;
    padding: 0px;

}
html{
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    background-position: center center;
}
main{
    width: 80vw;
    margin: auto;
    background-color: aliceblue;
    box-sizing: border-box;
    border-radius:20px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
}

img#phone{
    display: block;
    margin: auto;
}
img#tablet{
    display: none;
}
img#printer{
    display: none;
}
img#pc{
    display: none;
}
img#tv{
    display: none;
}
